<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="css/reset_shopcat.css">
    <link rel="stylesheet" href="css/carts.css">
    <link rel="stylesheet" href="css/common1.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style1.css">


    <script src="js/login.js"></script>
</head>
<body>
<!--head-->
<div class="topBar">
    <div class="w1200 clearfix">
        <!--登录 注册-->
        <div class="loginArea">
            <b>欢迎光临网上书城&nbsp;请</b><a href="/login" class="login">登录</a>
            <span>|</span>
            <a href="/register" target="_blank" class="regist">注册</a>
        </div>
        <!--右侧工具栏-->
        <div class="webTool">
            <ul class="clearfix">
                <li>
                    <div class="dt">
                        <a href="/myshopcatt" target="_blank">购物车</a>
                    </div>
                </li>
                <li>
                    <div class="dt">
                        <a href="/myorder" target="_blank">我的订单</a>
                    </div>
                </li>
                <li class="drop">
                    <div class="dt">
                        <a href="" target="_blank">我的账户</a>
                        <b class="icon"></b>
                    </div>
                    <div class="dropLayer" style="width: 162px;">
                        <a href="" target="_blank">我的收藏夹</a>
                        <a href="" target="_blank">账户余额</a>
                        <!--                        <a href="" target="_blank">我的优惠券</a>-->
                        <!--                        <a href="" target="_blank">我的积分</a>-->
                        <a href="" target="_blank">收货地址</a>
                        <!--                        <a href="" target="_blank">我的书评</a>-->
                        <a href="" target="_blank">我的消息</a>
                        <!--                        <a href="" target="_blank">积分换券</a>-->
                    </div>
                </li>
                <li>
                    <div class="dt">
                        <a href="" target="_blank">帮助中心</a>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</div>

<section class="cartMain">
    <div class="cartMain_hd">
        <ul class="order_lists cartTop">
            <li class="list_chk">
                <!--所有商品全选-->
                <input type="checkbox" id="all" class="whole_check">
                <label for="all"></label>
                全选
            </li>
            <li class="list_con">商品名</li>
            <li class="list_info">商品信息</li>
            <li class="list_price">单价</li>
            <li class="list_amount">数量</li>
            <li class="list_sum">金额</li>
            <li class="list_op">操作</li>
        </ul>
    </div>

    <div class="cartBox">
        <div class="order_content">
        </div>
    </div>



    </div>
    <!--底部-->
    <div class="bar-wrapper">
        <div class="bar-right">
            <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
            <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
            <div class="calBtn"><a href="javascript:;" onclick="addorders()">结算</a></div>
        </div>
    </div>
</section>
<section class="model_bg"></section>
<section class="my_model">
    <p class="title">删除宝贝<span class="closeModel">X</span></p>
    <p>您确认要删除该宝贝吗？</p>
    <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
</section>

<script src="js/jquery.min.js"></script>

<script>
    function addorders() {
        var orderinfo = new Array();
        var i = 0;
        $('.son_check').each(function () {
            if ($(this).is(':checked')) {
                var isbn = parseInt($(this).parents('.order_lists').attr("id"));
                console.log(isbn);
                var num =  parseInt($(this).parents('.order_lists').find('.sum').val());
                orderinfo[i]= isbn + "*" + num;
                i++;
            }
        });
        $.ajax({
            type: "POST",
            url:"/order",
            data:{"orderinfo": orderinfo,source:"shopcat"},
            success:function (data) {
 window.location.href = "/orderform?orderid="+data;

            }
        })
    }
    function pageturns(isbn) {
        window.location.href = "/bookinfo?isbn=" + isbn;
    }
    function addshopcat(i,shopcatvo) {
        var orderslist = "<ul class=\"order_lists\" id=\"" +
            shopcatvo["isbn"]+"\">\n" +
            "                <li class=\"list_chk\">\n" +
            "                    <input type=\"checkbox\" id=\"checkbox_" +
            i +
            "\" class=\"son_check\">\n" +
            "                    <label for=\"checkbox_" +
            i +
            "\"></label>\n" +
            "                </li>\n" +
            "                <li class=\"list_con\">\n" +
            "                    <div class=\"list_img\"><a href=\"javascript:;\"><img src=\"images/" +
            shopcatvo["book"]["img"] +
            "\" alt=\"\"></a></div>\n" +
            "                    <div class=\"list_text\"><a href=\"javascript:;\" onclick='pageturns(" +
            shopcatvo["isbn"] +
            ")'>" +
            shopcatvo["book"]["bookname"]
            + "</a></div>\n" +
            "                </li>\n" +
            "                <li class=\"list_info\">\n" +
            "                    <p>作者：" +
            shopcatvo["book"]["author"]
            + "</p>\n" +
            "                    <p>类目：" +
            shopcatvo["book"]["categorynumber"] +
            "</p>\n" +
            "                </li>\n" +
            "                <li class=\"list_price\">\n" +
            "                    <p class=\"price\">￥" +
            shopcatvo["book"]["price"] +
            "</p>\n" +
            "                </li>\n" +
            "                <li class=\"list_amount\">\n" +
            "                    <div class=\"amount_box\">\n" +
            "                        <a href=\"javascript:;\" class=\"reduce reSty\">-</a>\n" +
            "                        <input type=\"text\" value=\"" +
            shopcatvo["quantity"]+
            "\" class=\"sum\">\n" +
            "                        <a href=\"javascript:;\" class=\"plus\">+</a>\n" +
            "                    </div>\n" +
            "                </li>\n" +
            "                <li class=\"list_sum\">\n" +
            "                    <p class=\"sum_price\">￥" +
            shopcatvo["book"]["price"]*shopcatvo["quantity"] +
            "</p>\n" +
            "                </li>\n" +
            "                <li class=\"list_op\">\n" +
            "                    <p class=\"del\"><a href=\"javascript:;\" class=\"delBtn\">移除商品</a></p>\n" +
            "                </li>\n" +
            "            </ul>";
        // $("ul").remove(".order_lists");
        $(".order_content").append(orderslist)
    }
    function loadshopcat() {
            $.ajax({
                type: "GET",
                url: "/myshopcat",
                data: {pageable:1},
                success:function (data) {
                    $.each(data, function (i, n) {
                        addshopcat(i, n);
                    });
                    carts();
                }
            })
    }
    $(function () {
        isLogin();
        loadshopcat();

    })
</script>
<script src="js/carts.js"></script>
<div style="text-align:center;">
<!--    <p>更多源码：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
</div>

</body>
</html>