<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.online.book.dao.mapper.DetailedbookMapper">
  <resultMap id="BaseResultMap" type="com.study.online.book.dao.entity.Detailedbook">
    <id column="isbn" jdbcType="BIGINT" property="isbn" />
    <result column="publishinghouse" jdbcType="VARCHAR" property="publishinghouse" />
    <result column="publisheddate" jdbcType="TIMESTAMP" property="publisheddate" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="nuberofpages" jdbcType="INTEGER" property="nuberofpages" />
    <result column="readerrating" jdbcType="DECIMAL" property="readerrating" />
    <result column="ranking" jdbcType="INTEGER" property="ranking" />
    <result column="copyrightinformation" jdbcType="VARCHAR" property="copyrightinformation" />
    <result column="barcode" jdbcType="BIGINT" property="barcode" />
    <result column="binding" jdbcType="VARCHAR" property="binding" />
    <result column="edition" jdbcType="INTEGER" property="edition" />
    <result column="numberofbooks" jdbcType="INTEGER" property="numberofbooks" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="numberofprints" jdbcType="INTEGER" property="numberofprints" />
    <result column="category" jdbcType="VARCHAR" property="category" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from detailedbook
    where isbn = #{isbn,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.study.online.book.dao.entity.Detailedbook">
    <selectKey keyProperty="isbn" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into detailedbook (publishinghouse, publisheddate, 
      format, nuberofpages, readerrating, 
      ranking, copyrightinformation, barcode, 
      binding, edition, numberofbooks, 
      weight, numberofprints, category
      )
    values (#{publishinghouse,jdbcType=VARCHAR}, #{publisheddate,jdbcType=TIMESTAMP}, 
      #{format,jdbcType=VARCHAR}, #{nuberofpages,jdbcType=INTEGER}, #{readerrating,jdbcType=DECIMAL}, 
      #{ranking,jdbcType=INTEGER}, #{copyrightinformation,jdbcType=VARCHAR}, #{barcode,jdbcType=BIGINT}, 
      #{binding,jdbcType=VARCHAR}, #{edition,jdbcType=INTEGER}, #{numberofbooks,jdbcType=INTEGER}, 
      #{weight,jdbcType=DECIMAL}, #{numberofprints,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.study.online.book.dao.entity.Detailedbook">
    update detailedbook
    set publishinghouse = #{publishinghouse,jdbcType=VARCHAR},
      publisheddate = #{publisheddate,jdbcType=TIMESTAMP},
      format = #{format,jdbcType=VARCHAR},
      nuberofpages = #{nuberofpages,jdbcType=INTEGER},
      readerrating = #{readerrating,jdbcType=DECIMAL},
      ranking = #{ranking,jdbcType=INTEGER},
      copyrightinformation = #{copyrightinformation,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=BIGINT},
      binding = #{binding,jdbcType=VARCHAR},
      edition = #{edition,jdbcType=INTEGER},
      numberofbooks = #{numberofbooks,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      numberofprints = #{numberofprints,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR}
    where isbn = #{isbn,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select isbn, publishinghouse, publisheddate, format, nuberofpages, readerrating, 
    ranking, copyrightinformation, barcode, binding, edition, numberofbooks, weight, 
    numberofprints, category
    from detailedbook
    where isbn = #{isbn,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select isbn, publishinghouse, publisheddate, format, nuberofpages, readerrating, 
    ranking, copyrightinformation, barcode, binding, edition, numberofbooks, weight, 
    numberofprints, category
    from detailedbook
  </select>
</mapper>