<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.onlinebook.dao.mapper.OrdersinfoMapper">
  <resultMap id="BaseResultMap" type="com.study.onlinebook.dao.entity.Ordersinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderinfoid" jdbcType="BIGINT" property="orderinfoid" />
    <result column="isbn" jdbcType="BIGINT" property="isbn" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ordersinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.study.onlinebook.dao.entity.Ordersinfo">
    insert into ordersinfo (id, orderinfoid, isbn, 
      `number`)
    values (#{id,jdbcType=BIGINT}, #{orderinfoid,jdbcType=BIGINT}, #{isbn,jdbcType=BIGINT}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.study.onlinebook.dao.entity.Ordersinfo">
    update ordersinfo
    set orderinfoid = #{orderinfoid,jdbcType=BIGINT},
      isbn = #{isbn,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, orderinfoid, isbn, `number`
    from ordersinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, orderinfoid, isbn, `number`
    from ordersinfo
  </select>

</mapper>